body{
  background-color: white;
  margin: 50px;
  padding: auto;

}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: 20px;
  /* align-content: space-between; */
}

.box {
  color:white;
  font-size: 100px;
  text-align: center;
  text-shadow:4px 4px 0 rgba(0,0,0,0.1);
  padding:10px;
}

.card-availability{
  text-align: center;
  padding: auto;
}

.list-header{
  background-color: antiquewhite;
  text-align: center;
}
